<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div style="width: 20%;height: 2%;position: absolute;">
        <h2>Udemy</h1>
        </div>
        <div style="position: absolute;padding-left: 80%;padding-top: 2%">
            <span >Home</span> &nbsp; &nbsp; &nbsp;
            <span>
                contact
            </span> &nbsp; &nbsp; &nbsp; &nbsp; 
            <span>
                About
            </span>&nbsp; &nbsp; &nbsp; &nbsp;
            <span>
                   Sign-in
                </span>&nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        



</body>

</html>